@model List<ITStepShop.Models.Order>

<h2>Order List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Customer Name</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Order Date</th>
            <th>Action</th> 
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.Customer.FullName</td>
                <td>@order.Product.Name</td>
                <td>@order.Quantity</td>
                <td>@order.OrderDate</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@order.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@order.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
