@model ITStepShop.Models.ViewModel.ManageRoleViewModel

<h2>Manage User Roles</h2>

<form method="post">
    <div class="form-group">
        <label>Select User</label>
        <select asp-for="UserId" class="form-control">
            <option value="">-- Select User --</option>
            @foreach (var user in Model.Users)
            {
                <option value="@user.Id">@user.UserName</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>Roles</label>
        @foreach (var role in Model.Roles)
        {
            <div class="form-check">
                <input type="checkbox" asp-for="@role.IsSelected" />
                <label class="form-check-label" asp-for="@role.IsSelected">@role.RoleName</label>
            </div>
        }
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
